doctype html
html
  head
    title= title
    link(rel='stylesheet', type="text/css" href='stylesheets/style.css')
    meta(name='viewport'   content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" )
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js?ver=3.3.1")
  body(class="page-template page-template-template-defaut page-template-template-defaut-php page page-id-133 woocommerce-js not-logged-in pace-done")
    header(id="header", class="header", role="banner")
      div(class="top-bar", id="top-bar-menu")
        div(class="row align-middle")
          div(class="main_logo columns small-10 large-2 small-order-2 large-order-1")
            img(src="https://simaudio.com/wp-content/themes/moon/assets/images/logo.png" data-no-lazy="1")
    div(id="inner-content ",class="row collapse")
      div(class="wrapper align-middle")
        block content
