nav(class="navbar navbar-dark navbar-expand-lg")
    a(href="/")
        img(src="/images/full.jpg" class="smallImage")
    h1(class="white-text")= title 
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
    ul(class="navbar-nav btn")
        li(class="nav-item")
            a(class="nav-link text-white" href="/")
                p Home
        li(class="nav-item")
            a(class="nav-link text-white" href="/./views/points")
                p Points
        li(class="nav-item")
            a(class="nav-link text-white" href="/./views/games")
                p Games
        li(class="nav-item")
            a(class="nav-link text-white" href="/./views/help")
                p Help